body{
    font-family: 'Roboto';
    font-style: normal;
    background-color: #F5F5F5;
}
a{
    padding-left: 12px;
}
.title{
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:#F1F1F1;
}
.container{
    max-width: 1440px;
}
.home{
    font-size:18px;
}
.navbar{
    max-height: 64px;
}
.main-breadcrumb{
    max-height: 40px;
}
.bg{
    background-color: #FFFFFF;
}
.bg-light{
    background-color: #FAFAFA;
}
.nav-link{
    font-size: 14px;
}
.image>li>a> p{
    text-align: center;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    text-align: center;
}
p {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.wrapper{
    padding: 32px 0 0 32px;
    background-color: #F5F5F5;
}
.post{
    background-color: #ffffff;
    color: #505050;
}
.posImage{
    padding: 56px 0 0 32px;
}
p.user{
    font-size: 14px;
    line-height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
blockquote.bg-gray {
    border-left: 2px solid #D3D8DE;
    color:#505050;
    padding-left: 32px;
}
.description{
    padding-left: 32px;
}
.text{
    padding-left: 12px;
}
.list-inline-item{
    padding-right: 73px;
}
[class^="social"]{
    padding-left: 10px;
}




