.container{
    max-width: 1440px;
}
.navbar{
    max-height: 64px;
}
.main-breadcrumb{
    max-height: 40px;
}
.bg{
    background-color: #FFFFFF;
}
.bg-light{
    background-color: #FAFAFA;
}
.image>li>a> p{
    text-align: center;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    text-align: center;
}
p {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}